.sidebar-menu {
    height  : 100vh;
    overflow: hidden;

    .scrollbar {
        height: calc(~"100% - 120px");
    }

    .el-menu {
        /*   transition  : background 0.3s; */
        border-right     : none;
    }

    .el-scrollbar__wrap {
        overflow-x: hidden;
    }

    .el-scrollbar__thumb {
        background: transparent !important;
    }

    .el-menu-vertical:not(.el-menu--collapse) {
        width         : 100%;
        /*  min-height: 400px; */
    }

    .sidebar-logo-container {
        position   : relative;
        height     : 64px;
        overflow   : hidden;
        line-height: 64px;
        transition: all 0.3s;

        img {
            display       : inline-block;
            height        : 32px;
            vertical-align: middle;
            max-width     : 32px;
            padding-left  : 16px;
        }

        h1 {
            display       : inline-block;
            margin        : 0 0 0 12px;
            font-weight   : 600;
            font-size     : 20px;
            font-family   : Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
            vertical-align: middle;
            box-sizing    : border-box;
        }

        &.collapse {
            overflow: hidden;
            width   : 64px;
        }
    }
}



.wlt-menu-vertical {
    margin       : 0 12px;
    border-radius: 3px;

    .el-menu--popup {
        max-height: 50vh;
        overflow-y: auto;
        box-shadow: none;
        margin    : 0;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background   : #ffffff00;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-track-piece {
            background: #ffffff00;
        }
    }
}

@import '../theme/light.less';
@import '../theme/dark.less';