.el-alert--primary.is-light {
    border          : 1px solid #409eff91;
    background-color: #eff7ff;
    color           : #409EFF;
}

.el-alert--primary.is-dark {
    background-color: #409EFF;
    color           : #FFF;
}