.login {
    height          : 100%;
    overflow        : auto;
    background-image: url(https://file.iviewui.com/dev-dist/5825f033c6ff12cd1ed1f3c99dff5e4b.svg);
    background-color: #f0f2f5;
    display         : flex;
    flex-direction  : column;
    align-items     : center;

    >.content {
        flex      : 1;
        width     : 345px;
        min-height: 600px;
        margin-top: 120px;

        .wlt-title {
            height             : 80px;
            width              : 100%;
            margin-bottom      : 40px;
            background-repeat  : no-repeat;
            background-position: center;
            background-image   : url(http://ys.wltrj.com:6868/Content/img/wlt-title.png)
        }
    }

    >.footer {
        min-height     : 80px;
        color          : #00000073;
        font-size      : 14px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }
}