.login {
    height                    : 100%;
    overflow                  : auto;
    background-image          : url(https://file.iviewui.com/dev-dist/5825f033c6ff12cd1ed1f3c99dff5e4b.svg);
    /*  background-image      : url(../../assets/login-bg.jpg); */
    background-attachment     : fixed;
    background-color          : #f1f1f1;
    background-repeat         : no-repeat;
    background-size           : cover;
    display                   : flex;
    flex-direction            : column;
    align-items               : center;
    justify-content           : space-between;

    >.content {
        margin-top    : 120px;
        display       : flex;
        align-items   : center;
        flex-direction: column;

        .login-title {
            width: 100%;

            div {
                display        : flex;
                align-items    : center;
                justify-content: center;

                h1 {
                    color: #272121cc;
                }

                img {
                    width       : 60px;
                    margin-right: 20px;
                }
            }

            .user-layout-desc {
                margin-top   : 12px;
                margin-bottom: 30px;
                color        : #00000073;
                font-size    : 14px;
            }
        }

        .login-main {
            width: 350px;

            .dddd {
                /deep/ .el-tabs__nav-wrap {
                    &::after {
                        background: transparent !important;
                    }

                    .el-tabs__nav-scroll {
                        display        : flex;
                        justify-content: center;
                    }
                }
            }

            .captcha-input {
                width       : 220px;
            }
        }
    }

    >.footer {
        min-height     : 80px;
        color          : #00000091;
        font-size      : 14px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }
}