.app-wrapper {
    position: relative;
    height  : 100%;
    width   : 100%;

    .sidebar-container {
        height    : 100%;
        width     : auto !important;
        background: #fff;
        box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
        z-index   : 10;
    }

    .main-container {
        width     : 100%;
        background: #f0f2f5;
    }
}