@sidebarWidth: 240px;

.app-wrapper {
    position: relative;
    height  : 100%;
    width   : 100%;

    >.sidebar-container {
        height    : 100%;
        overflow  : hidden;
        width     : @sidebarWidth  !important;
        z-index   : 991;
        position  : fixed;
        left      : 0;
        top       : 0;
        transition: all 0.3s;

        &.sidebar-collapse {
            width: 64px !important;
        }
    }

    >.main-container {
        width         : 100%;
        margin-left   : @sidebarWidth;
        display       : flex;
        flex-direction: column;
        transition    : margin-left 0.3s;

        >.navbar {
            position  : fixed;
            width     :~'calc(100% - @{sidebarWidth})';
            transition: all 0.3s;
            right     : 0;
            z-index   : 990;
        }

        >.app-main {
            width : ~'calc(100% - 40px)';
            margin: 84px 20px 20px;
            flex  : auto
        }

        &.collapse {
            margin-left: 64px;

            >.navbar {
                width: ~'calc(100% - 64px)';
            }
        }
    }
}