.app-wrapper {
    position: relative;
    height  : 100%;
    width   : 100%;

    .sidebar-container {
        height    : 100%;
        width     : auto !important;
        background: #304156;
    }

    .main-container {
        width: 100%;
    }
}